html,
body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#menu {
    display: none;
}

#board {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(50vw, 50vh) translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: none;
}

.tile:focus {
    background-color: lightblue;
}